.container {
  width: 140px;
  height: 80px;
  display: flex;
  flex-direction: column;
  background-size: 140px 80px;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 8px;
  align-items: center;
  justify-content: end;
  box-shadow: inset 0px -40px 20px -20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.container > .title {
  text-align: center;
  font-size: 10px;
  color: white;
}
