.container {
  position: fixed;
  top: 0%;
  bottom: 0%;
  border-radius: 10px;
  background-color: #ffffff;
  right: 0%;
  z-index: 1000;
  margin: 15px;
  box-shadow: -2px 0px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  padding: 16px;
  width: 768px;
  height: 100%;
}
.container-expand {
  left: 40%;
}
.container-shrink {
  left: 65%;
}
.ProductContainer {
  border-right: 1px dashed #e5e5e5;
  flex: 0.5;
  padding: 16px;
  overflow-y: auto;
}
.OrderContainer {
  flex: 0.5;
  padding: 16px;
  margin-right: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}
.productHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.productHeaderContent {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  flex: 1;
}
.productCloseButton {
  cursor: pointer;
}
.orderHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.orderHeaderContent {
  font-size: 20px;
  font-weight: bold;
  flex: 1;
}
.orderHeaderClose {
  cursor: pointer;
}
.addCartButtonContainer {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.addCartToButton {
  background-color: rgb(161, 7, 7);
  color: white;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  cursor: pointer;
}
.container::-webkit-scrollbar{
  width: 0px;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    overflow-y: auto;
    width: auto;
  }
  .ProductContainer {
    height: auto;
    overflow: unset;
    border-right: 0px dashed #e5e5e5;
    border-bottom: 1px dashed #e5e5e5;
  }
  .OrderContainer {
    overflow-y: auto;
    min-height: 700px;
  }
}
