.container {
  background-color: #ffffff;
  border-radius: 10px;
  height: 100%;
  flex: 0.8;
  padding: 16px;
  padding-right: 0px;
}
.product {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  overflow-x: auto;
  margin-bottom: 20px;
  max-width: 700px;
}

.sperator {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  margin-bottom: 20px;
}

.subProduct {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  flex-wrap: wrap;
  max-height: 200px;
}

.productItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: auto;
  max-height: 400px;
}

.loadContainer {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.loaderContent{
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
