.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height:200px;
  margin-top: 20px;
}
.customInput {
  outline: none;
  background-color: #e5e5e5;
  border: 1px solid transparent;
  padding: 8px;
  border-radius: 6px;
  width: 80%;
}
.label {
  font-weight: 500;
  font-weight: 18px;
}
.helpText {
  color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 120px;
}
.button {
  border: 1px solid red;
  border-radius: 5px;
  padding: 8px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  color: red;
}
