.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
.container .title{
    flex: 0.6;
    cursor: pointer;
}
.container .search{
    flex: 0.4;
}
.defaultContent{
    margin-left: 10px;
}