.backHomeContainer {
  width: 90px;
  height: 80px;
  border: 1px solid #eceff6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px -40px 20px -20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.fontAwesomeIcon {
  display: block;
}
